# folders and files
de_zc2023/psql_vol/
de_zc2023/input_data/

# My default authenticate json is present here
de_zc2023/secrets/  

# Terraform
de_zc2023/.terraform/
de_zc2023/.terraform.lock.hcl
de_zc2023/..git/
bin/

# Prefect
prefect-zoomcamp/data/
prefect-zoomcamp/..git/

# Anaconda
anaconda3/

# VSCode
.vscode-server/

# Hidden files
.cache/
.conda/
.config/
.docker/
.gc/
.prefect/
.ssh/
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
